header {
    height: 80px;
    width: 100%;
    z-index: 1;
    position: absolute;
    nav {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        .logo {
            display: flex;
            img {
                width: 30px;
            }
            h1 {
                color: white;
                padding: 0 10px;
            }
        }
    }
}
footer {
    width: 100%;
    height: 400px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        padding: 20px 0;
        a {
            color: rgba(255, 255, 255, 0.596);
            text-decoration: none;
            transition: 1s ease-in-out;
        }
        a:hover {
            color: white;
        }
    }
}