main {
    width: 100%;
    height: 100vh;
    background: url(/images/heroimage.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.685);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 50px;
        bold {
            font-weight: bold;
            font-size:50px;
        }
        p {
            padding: 5px 0 0;
            font-size: 45px;
            font-weight: 100;
        }
    }
}