main {
    width: 100%;
    height: 100vh;
    .hero-image {
        overflow-y: hidden;
        height: 100vh;
        position: absolute;
        display: flex;
        align-items: center;
        width: 100%;
        img {
            width: 100%;
        }
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.685);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 50px;
        bold {
            font-weight: bold;
            font-size:50px;
        }
        p {
            padding: 5px 0 0;
            font-size: 45px;
            font-weight: 100;
        }
    }
}