section {
    margin-bottom: 100px;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        color: #D7642D;
    }
    .wrapper {
        width: 40%;
        h1 {
            text-align: center;
            padding: 0 0 20px;
        }
        p {
            width: 100%;
            margin: 10px 0 0;
        }
    }
}
.banner {
    width: 100%;
    height: 300px;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    .container {
        width: 100%;
        background: url(/images/banner.PNG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        .wrapper {  
            background: rgba(0, 0, 0, 0.52);
            width: 100%;
            height: 100%;
            color: white;
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            h1 {
                font-size: 40px;
            }
            p {
                font-size: 18px;
            }
        }
    }
}
.reasons-for-coming-to-EU {
    flex-direction: column;
    img {
        padding: 30px 0 0;
    }
}
.employement {
    height: 1400px;
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 20%;
        p {
            width: 90%;
            padding: 10px 0;
        }
        h1 {
            padding: 0 0 10px;
            text-align: center;
        }
        img {
            margin: 10px 0 0;
            width: 900px;
        }
    }
}